<% if resource.errors.present? %>
  <section>
    <h2><%= t('activerecord.errors.messages.errors_detected') %></h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
