<li>
  <%= question.body %>
  <%= link_to 'Удалить', admin_question_path(question.id),
              method: :delete,
              data: { confirm: "Вы уверены?" } %>
  <%= link_to 'Изменить', edit_admin_question_path(question.id), method: :get %>
  <%= link_to 'Открыть', admin_question_path(question), method: :get %>
</li>
