// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.progress-bar {
  background-color: white;
  width: 500px;
  height: 10px;
  border: 1px solid black;

  .progress {
    height: 10px;
    width: 0;
    background-color: green;
    border-radius: 0;
    transition: width 1s linear;
  }
}
