<tr>
  <th scope="row"><%= test.title %></th>
  <td><%= test.level %></td>
  <td><%= test.questions.size %></td>
  <td><%= button_to t('buttons.start_test_btn'), start_test_path(test), class: 'btn btn-success' %></td>
</tr>
