<footer>
  <div class="container">
    <div style="float: left">
      <span>Автор: Николай</span>
      <span><%= current_year %></span><br>
      <%= github_link('Xrazik1', 'test_guru') %>
      <p> - Приложение, позволяющее делиться тестами и решать их</p>
    </div>
    <div style="float: right">
      <p>Учебный проект в онлайн-школе: <a href="http://thinknetica.com/" target="_blank">Thinknetica</a></p>
    </div>
  </div>
</footer>
